<head>
    <script src="static/scripts/jquery-3.6.3.min.js" defer></script>
    <script src="static/scripts/plotly-2.18.2.min.js" defer></script>
    
    <script src="static/scripts/plotters-1.js" defer></script>
    <script src="static/scripts/index-1.js" defer></script>
    <script type="text/javascript">
        const plotTypes={{plotTypes| safe}}
        const plotFuncs={{js_funcs | safe}}
    </script>
    
    <link href="static/styles/index-1.css" rel="stylesheet">
    <link href="static/styles/graffana-1.css" rel="stylesheet">
    
</head>
<body>
    <div style="display:none">
        <a id='downloadLink' href='' download=''></a>
    </div>
    <div id="header">
        <h2>PREEVENTS multidisciplinary plotting tool</h2>
        <div>
            Volcano: <select id="volcano">
                {% for volc in volcanoes %}
                <option data-loc="{{volc[1]|safe}}">{{volc[0]}}</option>
                {%endfor%}
            </select>
            Date Range:
            <input type="date" class="rangeDate" id="dateFrom">
            -
            <input type="date" class="rangeDate" id="dateTo">
        </div>
        <div id="HeaderRight">
            <button id="print">Print for PDF</button>
        </div>
    </div>

    <div id=plots>
    </div>
    
    <button id="addPlot">Add Plot</button>
</body>
