[Unit]
Description = Multidisciplinary graphing tool
After = network.target

[Service]
ExecStart = /shared/apps/multiplot/multiplot-env/bin/gunicorn -c /shared/apps/multiplot/web/OtherFiles/gunicorn.conf.py
WorkingDirectory=/shared/apps/multiplot/web
User=www-data
Group=www-data
RuntimeDirectory = multiplot
RuntimeDirectoryMode = 777
Restart=on-failure
RestartSec=15s

[Install]
WantedBy = multi-user.target
