<div id="multiplot-menuGuard"></div>
<div style="display:none">
    <a id='multiplot-downloadLink' href='' download=''></a>
</div>

<div id="multiplot-header">
    <h2>Multidisciplinary Plotting Tool</h2>
    <div>
        Volcano: <select id="multiplot-volcano">
            {% for volc in volcanoes %}
            <option data-loc="{{volc[1]|safe}}">{{volc[0]}}</option>
            {%endfor%}
        </select>
        Date Range:
        <input type="date" class="multiplot-rangeDate" id="multiplot-dateFrom">
        -
        <input type="date" class="multiplot-rangeDate" id="multiplot-dateTo">
    </div>
    <div id="multiplot-HeaderRight">
        <button id="multiplot-print">Print for PDF</button>
    </div>
</div>

<div id="multiplot-plots">
</div>

<button id="multiplot-addPlot">Add Plot</button>

