<div id="menuGuard"></div>
<div style="display:none">
    <a id='downloadLink' href='' download=''></a>
</div>

<div id="header">
    <h2>Multidisciplinary Plotting Tool</h2>
    <div>
        Volcano: <select id="volcano">
            {% for volc in volcanoes %}
            <option data-loc="{{volc[1]|safe}}">{{volc[0]}}</option>
            {%endfor%}
        </select>
        Date Range:
        <input type="date" class="rangeDate" id="dateFrom">
        -
        <input type="date" class="rangeDate" id="dateTo">
    </div>
    <div id="HeaderRight">
        <button id="print">Print for PDF</button>
    </div>
</div>

<div id=plots>
</div>

<button id="addPlot">Add Plot</button>

