<script type="text/javascript">
    const plotTypes={{plotTypes| safe}}
    const plotFuncs={{js_funcs | safe}}
    const plotDataTypes={{plotDataTypes | safe}}
</script>

<script src="{{prefix}}static/scripts/jquery-ui.min.js"></script>

<script src="{{prefix}}static/scripts/plotly-2.18.2.min.js"></script>

<script src="{{prefix}}static/scripts/exporters-3.js"></script>
<script src="{{prefix}}static/scripts/plotters-7.js"></script>


<link href="{{prefix}}static/styles/index-4.css" rel="stylesheet">
<link href="{{prefix}}static/styles/graffana-3.css" rel="stylesheet">
