<head>
    <!--These may be loaded from a CDN or the host server-->
    <script src="static/scripts/jquery-3.6.3.min.js"></script>
    <script src="static/scripts/jquery-ui.min.js"></script>

    <!--This should be loaded from the apps server, but for testing it remains relatively linked-->
    <script src="static/scripts/index-4.js"></script>

    <!-- Code to initialize the multiplot tool.
    Place the call to MultiPlot wherever it makes the most sense.-->
    <script type="text/javascript">
        $(document).ready(function(){
            MultiPlot(document.getElementById('multiplot'))
        })
    </script>

</head>
<body>
    <!--Other body content here-->
    <div id="multiplot"></div>
    <!--Other body content here-->
</body>
